.userbox {
    width: 95%;
    margin: 24px auto;
    padding: 24px 12px;
    border-radius: 8px;
    background-color: black;
    /* dynamic later */
    background-color: black;
    color: gold;
    height: fit-content;
}

.red {
    background-color: red;
    color: black;
}

.red h2 {
    color: white;
}

.userbox .nump {
    color: black;
}

.red .nump {
    color: red;
}

.userbox ul {
    list-style: none;
}

.red ul .white {
    color: black;
}

.userbox h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.userbox li {
    margin-bottom: 12px;
}

.userbox .num,
.userbox .buttons .shadow span {
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
}

.userbox .nump {
    border-radius: 50%;
    display: inline-flex;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: black;
    padding: 4px;
}

.userbox .numt {
    display: inline-block;
    color: black;
    font-weight: bold;
    border: 1px none;
    padding: 3px;
    background-color: aliceblue;
    padding: 4px;
}

.userbox .stts {
    font-family: 'Caveat', cursive;
    padding: 3px 9px;
    border-radius: 4px;
    background-color: aliceblue;
}

.userbox hr {
    width: 20%;
    margin: 16px auto;
    color: aliceblue;
    height: 3px;
}

.red .stts {
    color: red;
}

.red .waiting-stts {
    display: none;
}

.userbox .stts {
    color: black;
}

.userbox .white {
    color: white;
}

.userbox .buttons {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userbox .buttons button {
    margin-top: 8px;
    width: 85%;
    border-radius: 4px;
    padding: 16px 3px;
    font-weight: bold;
    outline: none;
    border: none;
}

.userbox .buttons .real {
    box-shadow: 4px 4px 4px black;
    display: none;
    background-color: green;
    color: white;
}

.userbox .buttons .real:active,
.userbox .buttons .real:hover {
    background-color: white;
    color: green;
    box-shadow: none;
}

.userbox .buttons .shadow {
    cursor: not-allowed;
    background-color: lightgrey;
}

.userbox .buttons .above {
    font-style: italic;
    color: aliceblue;
    display: inline-block;
    margin-top: 12px;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.userbox .waiting-stts ul {
    font-size: x-small;
    font-style: italic;
    margin-top: 4px;
    color: aliceblue;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
}

.userbox .waiting-stts ul .li2,
.userbox .waiting-stts ul .li3 {
    margin-top: -14px;
}

.userbox .waiting-stts ul li sup {
    color: gold;
}

.table table {
    display: none;
    font-family: 'Acme';
    font-size: medium;
    width: 95%;
    margin: 16px auto;
}

table caption {
    font-size: larger;
    color: white;
    background-color: #212529;
    margin-top: -2px;
    text-align: center;
    padding: 12px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.admin {
    background-color: gold;
    color: black;
    padding: 0 2px;
    border-radius: 2px;
    font-size: x-small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.modalDesc {
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalDesc .youInc {
    display: block;
    font-family: 'Caveat', cursive;
    color: green;
}

.modalDesc .youhave {
    border-radius: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    border: lightgray 1px solid;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.modalDesc .tick {
    display: block;
    font-size: 60px;
    color: green;
}

.modal-footer .footerbtn {
    display: none;
}

.modal-footer #ftbtnDS,
.modal-footer #ftbtnOH {
    color: white;
    background-color: brown;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

.modal-footer #ftbtnDS:hover,
.modal-footer #ftbtnOH:hover,
.modal-footer #ftbtnDS:active,
.modal-footer #ftbtnOH:active {
    background-color: gray;
    color: lightgray;
}



footer {
    background-color: #212529;
    color: white;
    width: 100%;
    font-family: 'Carter One', cursive;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    align-items: center;
    margin: 0 auto;
    padding: 32px 12px;
}

footer .left {
    width: 59%;
}

footer .right {
    width: 39%;
}

#footerFont {
    font-family: 'Press Start 2P', cursive;
}

footer .right a {
    text-decoration: underline;
    color: white;
    display: block;
    margin-bottom: 8px;
}

#shemdoe,
#yaLeo {
    font-family: 'Carter One', cursive;
}

@media (max-width: 420px) {
    .main,
    .main .left,
    .maelezoG {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .ftitle {
        width: 100% !important;
    }
}