@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Lobster&family=Marck+Script&family=Shadows+Into+Light&family=Acme&family=Concert+One&family=Carter+One&family=Parisienne&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Caveat&family=Hurricane&family=Palette+Mosaic&family=Smokum&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto !important;
    background-color: aliceblue;
    width: 95%;
}

html {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    padding: 24px !important;
    margin-bottom: 32px !important;
}

.navbar .container-fluid {
    max-width: 1024px !important;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    border: 1px brown solid;
    border-radius: 8px;
    padding: 24px !important;
    font-size: xx-large;
    margin-right: 15% !important;
}

.navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
}

#navbarSupportedContent ul {
    margin-right: -12px !important;
}

.navbar .nav-item {
    border: 1px brown solid !important;
    border-radius: 2px;
    padding: 4px !important;
    margin-right: 4px;
}
.navbar .nav-item:hover {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.parentBody {
    display: flex;
    flex-direction: column;
    max-width: 1032px;
    margin-left: auto;
    margin-right: auto;
}

.parentBody .maelezoG {
    width: 95%;
    margin: 12px auto;
    border-bottom: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-left: 1px lightgray solid;
}

.parentBody .maelezoG .wrapper {
    padding: 0 16px 16px 16px;
    margin: 0;
    text-align: justify;
}

.parentBody .maelezoG .promoted {
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 8px 12px;
    border-radius: 2px;
    margin-top: 0;
    font-family: 'Acme', fantasy;
}

.parentBody .maelezoG h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Acme', fantasy;
}

.parentBody .maelezoG h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Acme', fantasy;
}

.parentBody .maelezoG a {
    font-weight: bold;
    text-decoration: none;
    word-break: break-all;
}

.parentBody .maelezoG .poster {
    background-color: lightblue;
    border-radius: 2px;
    padding: 2px;
    display: inline-block;
    margin-bottom: 8px;
}

.mainbox {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 12px auto;
    border-right: 1px lightgray solid;
}

.userbox {
    width: 95%;
    margin: 0 auto;
    padding: 24px 12px;
    border-radius: 8px;
    background-color: black; /* dynamic later */
    background-color: black;
    color: gold;
    height: fit-content;
}

.red {
    background-color: red;
    color: black;
}

.red h2 {
    color: white;
}

.userbox .nump {
    color: black;
}

.red .nump {
    color: red;
}

.userbox ul {
    list-style: none;
}

.red ul .white {
    color: black;
}

.userbox h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.userbox li {
    margin-bottom: 12px;
}

.userbox .num,
.userbox .buttons .shadow span {
    font-family: 'Abril Fatface', cursive;
    font-size: larger;
}

.userbox .nump {
    border-radius: 50%;
    display: inline-flex;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: black;
    padding: 4px;
}

.userbox .numt {
    display: inline-block;
    color: black;
    font-weight: bold;
    border: 1px none;
    padding: 3px;
    background-color: aliceblue;
    padding: 4px;
}

.userbox .stts {
    font-family: 'Caveat', cursive;
    padding: 3px 9px;
    border-radius: 4px;
    background-color: aliceblue;
}

.userbox hr {
    width: 20%;
    margin: 16px auto;
    color: aliceblue;
    height: 3px;
}

.red .stts {
    color: red;
}
.red .waiting-stts {
    display: none;
}

.userbox .stts {
    color: black;
}

.userbox .white {
    color: white;
}

.userbox .buttons {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userbox .buttons button {
    margin-top: 8px;
    width: 85%;
    border-radius: 4px;
    padding: 16px 3px;
    font-weight: bold;
    outline: none;
    border: none;
}

.userbox .buttons .real {
    box-shadow: 4px 4px 4px black;
    display: none;
    background-color: green;
    color: white;
}

.userbox .buttons .real:active,
.userbox .buttons .real:hover
{
    background-color: white;
    color: green;
    box-shadow: none;
}

.userbox .buttons .shadow {
    cursor: not-allowed;
    background-color: lightgrey;
}

.userbox .buttons .above {
    font-style: italic;
    color: aliceblue;
    display: inline-block;
    margin-top: 12px;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.userbox .waiting-stts ul {
    font-size: x-small;
    font-style: italic;
    margin-top: 4px;
    color: aliceblue;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 4px;
}

.userbox .waiting-stts ul .li2,
.userbox .waiting-stts ul .li3
 {
    margin-top: -14px;
}

.userbox .waiting-stts ul li sup {
    color: gold;
}

.mainbox .table table{
    display: none;
    font-family: 'Acme';
    font-size: medium;
    width: 95%;
    margin: 16px auto;
}

table caption {
    font-size: larger;
    color: white;
    background-color: #212529;
    margin-top: -2px;
    text-align: center;
    padding: 12px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.admin {
    background-color: gold;
    color: black;
    padding: 0 2px;
    border-radius: 2px;
    font-size: x-small;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.modalDesc {
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalDesc .youInc {
    display: block;
    font-family: 'Caveat', cursive;
    color: green;
}

.modalDesc .youhave {
    border-radius: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 24px;
    vertical-align: middle;
    border: lightgray 1px solid;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.modalDesc .tick {
    display: block;
    font-size: 60px;
    color: green;
}

.modal-footer .footerbtn {
    display: none;
}



footer {
    background-color: #212529;
    color: white;
    width: 100%;
    font-family: 'Carter One', cursive;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    align-items: center;
    margin: 0 auto;
    padding: 32px 12px;
}

footer .left {
    width: 59%;
}

footer .right {
    width: 39%;
}

#footerFont {
    font-family: 'Press Start 2P', cursive;
}

footer .right a {
    text-decoration: underline;
    color: white;
    font-family: fantasy;
    display: block;
    margin-bottom: 8px;
}

#shemdoe, #yaLeo {
    font-family: 'Carter One', cursive;
}

/* SPINNERS */
.dots-5 {
    width: 12px;
    height: 12px;
    margin-right: 50px !important;
    background: #000000;
    border-radius: 50%;
    box-shadow: 20px 0 #00000022, -20px 0 #000000;
    animation: d5 1s infinite linear alternate;
}


@keyframes d5 {
    0% {
        box-shadow: 20px 0 #000000, -20px 0 #00000022;
        background: #000000
    }

    33% {
        box-shadow: 20px 0 #000000, -20px 0 #00000022;
        background: #00000022
    }

    66% {
        box-shadow: 20px 0 #00000022, -20px 0 #000000;
        background: #00000022
    }
}

.spinner-4 {
    width: 50px;
    height: 50px;
    margin-left: 45%;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #f03355) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s4 1s infinite steps(10);
}

@keyframes s4 {
    to {
        transform: rotate(1turn)
    }
}

@media (min-width: 800px) {
    .parentBody {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .parentBody .mainbox {
        width: 48%;
        border-left: 1px solid lightgray;
    }
    .parentBody .maelezoG {
        width: 48%;
        border-left: unset;
        border-right: unset;
    }
}

@media (max-width: 420px) {
    body {
       width: 98%;
       min-width: 340px;
       margin: 0 auto;
    }

    .userbox .title {
        font-size: 18px;
    }

    .ads {
        border-left: none;
        border-right: none;
    }
}